body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    /* outline: 1px solid red; */
    box-sizing: border-box;
    color: #000;
}

:root {
    --color-light-grey: #f7f6f3;
    --color-white: #ffffff;
}

::-webkit-scrollbar {
    display: none !important;
    -webkit-appearance: none;
}
